METABASE_URL=https://metabase-mcp.orocorp.in
METABASE_USER=your_email@orocorp.in
METABASE_PASSWORD=your_password
METABASE_CARD_ID=12868
GSHEET_CSV_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vQtiRbYV5DOKXuB2K6OU2H0P85ums8C6Rm6ZRo39wrXCQjWZOqNyGrUxFLP3EIk8vFbU74WtsPRryK/pub?gid=774636387&single=true&output=csv
MB_JOIN_COL=emply_id
GS_JOIN_COL=Emp ID
